@using Newtonsoft.Json
@model IEnumerable<WarDrivePiServer.Models.AccessPoint>
@{
    ViewBag.Title = "Map";
}

@Styles.Render("~/Content/Map")

<div class="row">
    <div class="col-lg-12">
        <div id="map" style="height: 400px;"></div>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->

@Scripts.Render("~/bundles/Map")
<script>
    // Access points from the MVC model serialized into an array
    var accessPoints = @Html.Raw(JsonConvert.SerializeObject(Model));
    console.log(accessPoints);

    // Create map and show user and access point markers
    var object = new Map();
    object.setGeoLocation();
    object.addAccessPoints(accessPoints);
    
</script>